@import "../../App.css";

.container {
    display: flex;
    height: 100%;
    align-items: center;

}




.row2 {

    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 100px);
	grid-template-rows: 100px 100px 100px;
    justify-content: space-around;
    margin-left: 180px;
    margin-right: 150px;
    align-items: center;
    margin-top: 80px;
    padding: 100px;
    
    
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgb(255, 255, 255, 0.10);
    padding: 30px;
    width: 165px;
    height: 100px;
    transition: all 0.3s ease-out;
    background: rgb(162, 51, 199); 
    border: none;
}

.cardmaior {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgb(255, 255, 255, 0.10);
    padding: 36px;
    margin-top: 150px;
    margin-left: -90px;
    width: 240px;
    height: 100px;
    transition: all 0.3s ease-out;
    background-image: url('../../assets/fundo.jpg');
    border: none;
}


.cardlateral{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgb(255, 255, 255, 0.10);
    padding: 35px;
    margin-top: 150px;
    width: 300px;
    height: 100px;
    transition: all 0.3s ease-out;
    background-color: rgb(162, 51, 199);
    border: none;
}

.cardlateral p{
    color: #a3a5ae;
    font-size: 8px;
}

.cardmaior p{
    color: #a3a5ae;
    font-size: 8px; 
}

.cardlateral:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.cardmaior:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: #a3a5ae;
    font-size: 6px;
}

.calculadora{
    width: 50px;
    height: 50px;
}
.instagram{
    width: 60px;
    height: 60px;
}
.balanca{
    margin-left: -10px;
    width: 60px;
    height: 60px;
}
.cadeado{
    width: 50px;
    height: 50px;
}
.moeda{
    width: 60px;
    height: 60px;
}