@import "../../App.css";

.container {
    display: flex;
    height: 100%;
    align-items: center;
   
}

.row{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    padding: 100px;
    margin-left: 400px;
    
    
}

.redes{
 
 font-size: 15px ;
}

.emilly{
  width: 200px;
  margin-top: -60px;
}

.header{
  width: 350px;
  height: 40px;
  background-image: rgba(36, 2, 36, 0.5);
  backdrop-filter: blur(8px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding-top: 1px;

}


.card {
 
    box-shadow: 7px 7px 13px 0px rgb(255, 255, 255, 0.10);
    /* padding: 30px; */
    width: 350px;
    height: 250px;
    margin-left: -5px;
    margin-right: -5px;
    transition: all 0.3s ease-out;
    background-image:  url('../../assets/fundo.jpg'); 
    border-radius: 10px;
    

    
}

.caixa{
    
    margin-top: -270px;
    margin-right: 40px; 
    float: right;
    
    
}

.linkedin{
    font-size: 30px;
}

.github{
    font-size:30px
}

.texto1{
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.texto2{
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.email{
  font-size:30px;
  margin-left: 10px;
}
 

.texto3{
    color: white;
    font-size: 10px;
    margin-left: 40px;
    margin-top: -22px;
}