@import "../../App.css";



.home:hover{
   color:purple;
   transform: translateY(-5px);
}

.projetos:hover{
   color:purple;
   transform: translateY(-5px);
}

.tecnologias:hover{
   color:purple;
   transform: translateY(-5px);
}

.quem:hover{
   color:purple;
   transform: translateY(-5px);
}

.github{
   margin-left: 5px;
   width: 50px;
}

.github:hover{
   color: purple;
   transform: translateY(-5px);
}

.linkedin{
   width: 50px;
}

.linkedin:hover{
   color: orange;
   transform: translateY(-5px);
}