@import "../../App.css";

.rodape{
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    background-color: #7806d6 ;
    background-size: cover; 
    width: 100%;
    bottom: 0;
    


}

.text{
    color: white;
    font-size: 9px;
    bottom: 0;
    
   
    
}

