@import "../../App.css";

.rodape{
    display: flex;
    color: white;
    text-align: center;
    background-image: url('../../assets/rodape.png') ;
    background-size: cover; 
    width: 100vh;
    bottom: 0;
    justify-content: center;


}

.text{
    color: white;
    font-size: 9px;
    bottom: 0;
    position: fixed;
   
    
}

